[GLOBAL]
configs = config.private.cnf
trash = recycle_bin\
[plugins]
ffmpeg = C:\Program Files\FFmpeg\bin\ffmpeg.exe

[http]
port = 1100

[https]
port = 0
pkey = cert/dummy.pem
cert = cert/dummy.crt

[folders]
/self = .\
/ = http\