* { padding: 0; margin: 0; outline: 0; border: 0;}

body {
	border: none;
	background-color: white;
	margin: 8px;
	line-height: 1;
}
hr {
	margin: 0.5em auto 0.5em auto;
	border: inset 1px;
}
h1 {
	font: 21pt 'Tahoma';
	font-weight: 100;
	margin: 0.67em 0 0.67em 0;
}
h2 {
	font: 18pt 'Tahoma';
	font-weight: 100;
	margin: 0.60em 0 0.60em 0;
}
button {
	color: inherit;
}
a { 
	margin: 0; padding: 0; 
	color: black;
	text-decoration: none;
}

span { margin: 0; padding: 0; }
td { margin: 0; padding: 0; }
img {
	margin: 0; padding: 0;
	border: 0;
	border-top: 0;
	border-width: 0;
	outline: 0;
	text-decoration: none;
}
#path-toolbar td {
	border: solid 1px #CCC;
}
#path-toolbar .button {
	display: block;
	line-height: 0;
}
#folder-path {
	display: block;
	margin: 0px;
	padding: 2px;
}
#folder-path a {
	border-style: solid;
	border-width: 1px;
	border-color: #FFF;
	color: #333; 
}
#folder-path a:hover {
	border-color: #CCC;
	color: #0AF;
}
#header {
	border-bottom: solid 1px black;
	margin-bottom: 16px;
}
#header td {
	padding: 0px 6px 0 6px;
}
.Slider {
	position: relative;
	display: inline-block;
	width: 256px;
	height: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	border-color: rgba(10, 10, 10, 0.5);
	font-size: 7px;
	box-sizing: border-box;
	user-select: none;
	background: white;
}

.Lower {
	position: absolute;
	display: block;
	height: 100%;
	width: 50%;
	left: 0;
	top: 0;
	line-height: 0;
	box-sizing: border-box;
	user-select: none;
	background: #00B6FF;
}
.Slider .Thumb {
	position: absolute;
	display: block;
	top: -45%;
	left: 49%;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	user-select: none;
	background: white;
}
.Slider .Thumb:hover {
	background: #00B6FF;
}
.Slider .Upper {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 50%;
	background: white;
}

input[type=range] {
	height: 8px;
	margin: 4px 0 4px 0;
	outline: none;
	background: white;
}

/* Track */
input[type=range]::-moz-range-progress {
	height: 8px;
	background: #00B6FF;
}
input[type=range]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border: none;
	box-shadow: 0 0 2px 1px black;
	border-radius: 50%;
	background: white;
}
input[type=range]::-moz-range-thumb:hover {
	background: #00B6FF;
}
input[type=range]::-ms-fill-lower {
	height: 8px;
	background: #00B6FF;
}
input[type=range]::-ms-fill-upper {
	height: 8px;
	background-color: white;
}
input[type=range]::-ms-thumb {
	width: 16px;
	height: 16px;
	border: none;
	box-shadow: 0 0 2px 1px black;
	border-radius: 50%;
	background: #FEFEFE;
	overflow: visible;
}
input[type=range]::-ms-thumb:hover {
	background: #00B6FF;
}
.template {
	display: none !important; 
}