*, *:before, *:after {
	box-sizing: border-box;
}

button {
	border: none;
}
::cue {
	color: white;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	background: none;
	font-family: 'Arial', sans-serif;
	font-size: 2.0rem;
}
.tt-window-container {
	display: table;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.tt-window {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.tt-window.highlighted {
	border: solid 3px rgba(255, 20, 20, 0.75);
}
.tt-window-internal {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: inherit;
}
.cue {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	color: white;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
	background: none;
	font-family: 'Arial', sans-serif;
	font-size: inherit;
}
.tt-window.highlighted .cue {
	border: solid 2px rgba(20, 255, 20, 0.65);	
}
.video-container {
	position: relative;
	display: block;	
	height: 80vh;
	width: auto;
	background-color: #080808;
}
.video-container.fullscreen {
	width: 100%;
	height: 100%;
}
.video-container video {
	width: 100%;
	height: 100%;
}

.controls-overlay-wrapper {
	z-index: 2147483647;
	position: absolute;
	bottom: 4px;
	top: 4px;
	left: 4px;
	right: 4px;
	pointer-events: none;	
}
.controls-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.controls-overlay > table {
	position: absolute;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.controls-row { 
	transition-property: opacity;
	transition-delay: 0s;
	transition-duration: 90ms;	
}
.controls-row.opacity-0 {
	transition-delay: 1.5s;
	transition-duration: 200ms;	
}
.controls-overlay .controls-row {
	pointer-events: all;
}
.controls-overlay .header h1 {
	margin: 0;
	color: white;
	text-shadow:
	-1px -1px 1px rgba(0, 0, 0, 0.5), 
	 1px -1px 1px rgba(0, 0, 0, 0.5), 
	 1px  1px 1px rgba(0, 0, 0, 0.5), 
	-1px  1px 1px rgba(0, 0, 0, 0.5);
}
.controls-overlay .progress .slider {
	display: block;
	width: 100%;
	height: 8px;
	border: none;
	margin: 0.5rem 0;
}
.controls-overlay .progress .hover {
	display: none;
	position: absolute;
	bottom: 24px;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	color: white;
	background-color: #404040; 
}
.controls-overlay .progress .hover.show {
	display: inline;
}
.bottom-controls {	
	width: 100%;
	height: 40px;
	z-index: 2147483647;
	background-color: rgba(20, 20, 20, 0.5);
}
.bottom-controls td {	
	height: 100%;
	box-sizing: border-box;
}
.bottom-controls button {	
	outline: none;
}
/* Generic wide square player button (play, mute, fullscreen, cc) */
.bottom-controls .button {
	display: block;
	width: 48px;
	height: 40px; /* Ugly fix for annoying browsers */
	padding: 4px 0px 4px 0px;
	background: none;
}
.bottom-controls .button:hover {
	background: rgba(0, 100, 200, 0.5);
}
.bottom-controls .button span {
	display: block;
	width: 100%;
	height: 100%;
background-clip: padding-box;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

/* Play/Pause button */
.video-container .playbutton span {
	background-image: url('/res/play.png');
}
.video-container.playing .playbutton span {
	background-image: url('/res/pause.png');
}

/* Mute/Unmute button */
.video-container .mutebutton span {
	background-image: url('/res/sound.png');
}
.video-container.muted .mutebutton span {
	background-image: url('/res/muted.png');
}

.video-container .volumeslider {
	display: block;
	width: 0;
	min-width: 0;
	transition: width 200ms;
}
.video-container .volumeslider.expanded {
	color: red;
	width: 10rem;
}
.video-container .tt-contextmenu {
	display: block;
	position: relative;
	height: 100%;
	width: auto;
}
.video-container .ttbutton span {
	background-image: url('/res/cc.png');
}
.video-container .pinbutton span {
	background-image: url('/res/notpinned.png');
}
.video-container.pinnedcontrols .pinbutton span {
	background-image: url('/res/pinned.png');
}
.video-container .fullscreenbutton span {
	background-image: url('/res/fullscreen.png');
}
.video-container.fullscreen .fullscreenbutton span {
	background-image: url('/res/exitfullscreen.png');
}
/* Style for the Text Tracks context menu */
.tt-contextmenu .contextmenu-content {
	position: absolute;
	float: right;
	right: 0;
	z-index: 1;
	padding: 0.5rem 0 0.5rem 0;
	border-radius: 2px;
	background: rgba(20, 20, 20, 0.5);
}
.tt-main-menu {
	bottom: calc(100% + 0.5rem);
	
}
.tt-main-menu div.contextmenu-title {
	display: block;
	padding: 0;
	text-align: center;
	font: 13pt 'Arial';
	color: white;
}
.tt-main-menu .contextmenu-item {
	font: 14pt 'Arial';
	color: white;
}
.tt-main-menu .contextmenu-item:hover {
	background: rgba(0, 100, 200, 0.8);
}
.tt-main-menu ul {
	list-style-type: none;
}
.tt-main-menu div.contextmenu-item .checkbox {
	padding: 0.25rem 1rem 0.25rem 1rem;
}

.tt-main-menu .checkbox {
	display: block;
	width: 100%;
}
.tt-main-menu .tt-list {
	height: 100%;
	width: 100%;
}
.tt-main-menu .tt-list td:first-of-type .checkbox {
	padding: 0.25rem 0;
}
.tt-main-menu .tt-list td:first-of-type .checkbox input {
	margin: 0 0.25rem;
}

.tt-main-menu .tt-list .morebutton {
	display: block;
	
	height: 100%;
	padding: 0 0.25rem;
	background: none;
}
.tt-configmenu-wrapper {
	display: block;
	position: relative;
	height: 100%;
	width: auto;
}
.cue-window-config {
	display: table-cell;
	vertical-align: middle;
}

.cue-window-config .Slider {
	width: 200px;
	z-index: 1;
}

.cue-window-config > table {
	margin: auto;
	border: solid 1px rgba(20, 20, 20, 0.8);
	background: rgba(40, 40, 40, 0.8);
	color: white;
	font-family: 'Arial', sans-serif;
	font-size: 12pt;

}
.cue-window-config > table > thead > tr > td {
	border-bottom: solid 2px rgba(20, 20, 20, 0.8);
	padding: 0.2rem;
	background: rgba(0, 30, 80, 0.5);
}
.cue-window-config > table > tbody > tr > td {
	padding: 0.2rem;
}
.cue-window-config td.controls table {
	width: 100%;
}
.cue-window-config td.controls td {
	width: 33.3%;
}
.cue-window-config td.controls button {
	width: 100%;
	height: 2rem;
}
.cue-window-config button {
	padding: 3px;
	border: solid 1px rgb(60, 60, 60);
	background: rgba(50, 50, 50, 0.8);
}
.cue-window-config button:hover {
	background: rgba(70, 70, 70, 0.9);
}
.cue-window-config button:active {
	border: solid 1px rgb(30, 30, 30);
	background: rgba(40, 40, 40, 0.9);
}
.contextmenu-content { display: none; }
input[type=range] {
	min-width: 4px;
}
.checkbox { white-space: nowrap; }
.show { display: block; }
.hide { display: none; }
.opacity-0 { opacity: 0; }
.noselect { user-select: none; }